<article class="m-3">

  <div class="everything">
    <div class="login-container">
    <a href="http://localhost:4200/login" class="btn btn-link login-link">Log In as Cinema Attendant</a>
    </div>
    <div class="container-main">
      <section *ngIf="seances && seances.length > 0" class="d-flex flex-row gap-2">
        <div class="container-1column">
          <img [src]="[seances[0].movie.movieThumbnailUrl]" class="img-thumbnail">
        </div>
        <div class="container-2column">
          <h1 *ngIf="seances === undefined || seances.length === 0">No showtimes available.</h1>
          <div *ngIf="seances && seances.length > 0" class="container-title">
            <h2>{{ seances[0].movie.movieName }}</h2>
            <div class="container-time">
              <h6>{{[seances[0].movie.movieRunningTime]}}</h6>
            </div>
          </div>
          <div class="container-description">
            <p>{{[seances[0].movie.movieDescription]}}</p>
          </div>
        </div>
      </section>



      <div class="container-3column">
        <div class="container-showtimes-header">
          <h3>Showtimes</h3>
        </div>


        <section class="d-flex flex-row gap-2">
          @for (seance of seances; track seance.id) {
          <a [routerLink]="['../../available_seats', seance.id]">
          <div class="container-time-button">
              <div class="container-datetime">
                <p>{{convert(seance.dateOfSeance)}}</p>
              </div>
           </div>
          </a>
          }
        </section>
      </div>
    </div>
  </div>
</article>
