<article class="m-3">
    <h1>What's on</h1>  
    <div id="main-div">
    <section class="d-flex flex-column gap-2">
      
      @for (movie of movies; track movie.id) {
        
        <div class="card">
          <a [routerLink]="[movie.id]">
            <h2>{{movie.movieName}}</h2>
            <div class="container">
              <img [src]="[movie.movieThumbnailUrl]" alt="Example Image">
              <p>{{movie.movieDescription}}</p>
          </div>
          </a>
          </div>
        
      }
    
    </section>
  </div>
  </article>
