.everything {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form-control {
  background-color: black;
  color: white;
  border: 1px solid white;
  width: 100%;
}

.btn-success {
  --bs-btn-bg: rgb(190, 162, 40);
  --bs-btn-disabled-bg: rgb(190, 162, 40, 0.5);
  --bs-btn-disabled-border-color: white;
  --bs-btn-border-color: white;
  --bs-btn-hover-bg: rgba(255, 187, 0, 0.247);
  --bs-btn-hover-border-color: white;
  --bs-btn-active-bg: rgb(190, 162, 40);
  --bs-btn-active-border-color: white;
  margin: 10px;
  width: 100%;
}

input[type="text"]:focus {
  border-color: #ffbb00;
  box-shadow: 0 0 5px #ffbb00;
}

.btn {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-group, .form-actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h3-reserved{
  margin-top: 30px;
  margin-bottom: 20px;
}
